slides > slide {
  width: 1400px;
  margin-left: -700px;
  height: 1090px;
  margin-top: -545px;
}

slides.layout-widescreen > slide,
slides.layout-faux-widescreen > slide {
  width: 1580px;
  margin-left: -790px;
  height: 900px;
  margin-top: -450px;
}

slide.img-top-center img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

slide .center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

em, i  {
  font-style: italic;
}

strong {
  font-weight: bold;
}

slides footer.source {
 font-size: 16pt
 position: absolute;
    position: absolute;
    bottom: 40px;
    left: 20px;
/*    background: url(../../images/google_developers_icon_128.png) no-repeat 0 50%;*/
    -webkit-background-size: 30px 30px;
    -moz-background-size: 30px 30px;
    -o-background-size: 30px 30px;
    background-size: 30px 30px;
    padding-left: 40px;
    height: 30px;
    line-height: 1.9;
}

pre b {
    font-weight: normal;
}

